<div class="bg-[#00529B] py-16 lg:py-20">
  
  <div class="mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between gap-4 sm:gap-8">

    <img src="{{ '/images/involved/lion_logo_silver.webp' | relative_url }}" alt="Lion Left" class="hidden md:block w-40 h-auto opacity-90 flex-shrink-0">

    <h2 class="text-3xl lg:text-4xl font-bold text-white text-center leading-tight">
      “If you want to see positive change in your country, be a part of it”
    </h2>

    <img src="{{ '/images/involved/lion_logo_silver.webp' | relative_url }}" alt="Lion Right" class="hidden md:block w-40 h-auto opacity-90 flex-shrink-0">

  </div>
</div>