
<section class="w-full bg-white pt-16 lg:pt-24 pb-8 lg:pb-8">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">


    <!-- Our Story -->
    <div class="text-center">
      <h2 class="text-3xl md:text-4xl font-bold text-[#001f3f] mb-6">
        Our Story
      </h2>
      <p class="text-center text-base md:text-lg text-gray-600 leading-relaxed max-w-4xl mx-auto">
        Founded in 2003 by industry and academic pioneers, LSF transitioned from global open-source software development to empowering government digital transformation, continuously evolving to meet global digital infrastructure challenges effectively. LSF is a non-profit company (limited by guarantee) founded by Dr. Sanjiva Weerawarna and Mr. Jivaka Weeratung. Along with Sanjiva and Jivaka, the other subscribers of the company are Dr. Indrajith Coomaraswamy, Dr. Kamal Weeraperuma, Mr. Ralph de Laneroll, Prof. Saman Amarasinghe, Mr. Paul Rathnayake, Prof. Kumar Wickramasinghe and Dr. Yohan Weerasuriya and the late Prof. V. K. Samaranayake.
      </p>
    </div>

  </div>
</section>